{% extends "base_site_prueba.html" %}

{% block content %}
    <h1> Reportes de raciones </h1>
    <hr>
	<br>
	<div class="raciones-dia-chart" style="float: left; width:90%;">
		<h3 style="font-size: 1.1rem">Cantidad de raciones por dia de los ultimos 30 dias</h3>
		<canvas id="raciones-dia-chart"></canvas>
	</div>

	<div class="raciones-mes-chart" style="float: left; width:90%;">
		<h3 style="font-size: 1.1rem">Cantidad de raciones por mes de los ultimos 12 meses</h3>
		<canvas id="raciones-mes-chart"></canvas>
	</div>

	<div class="raciones-funcionamiento-mes-chart" style="float: left; width:90%;">
		<h3 style="font-size: 1.1rem">Cantidad de raciones por funcionamiento de los ultimos 12 meses</h3>
		<canvas id="raciones-funcionamiento-mes-chart"></canvas>
	</div>

	<div class="raciones-funcionamiento-semana-chart" style="float: left; width:90%;">
		<h3 style="font-size: 1.1rem">Cantidad de raciones por funcionamiento de los ultimos 7 dias</h3>
		<canvas id="raciones-funcionamiento-semana-chart"></canvas>
	</div>

	<div class="raciones-rango-mes-chart" style="float: left; width:90%;">
		<h3 style="font-size: 1.1rem">Cantidad de raciones por rango etario de los ultimos 12 meses</h3>
		<canvas id="raciones-rango-mes-chart"></canvas>
	</div>

	<div class="raciones-rango-semana-chart" style="float: left; width:90%;">
		<h3 style="font-size: 1.1rem">Cantidad de raciones por rango etario de los ultimos 7 dias</h3>
		<canvas id="raciones-rango-semana-chart"></canvas>
	</div>

	<div class="raciones-comida-mes-chart" style="float: left; width:90%;">
		<h3 style="font-size: 1.1rem">Cantidad de raciones por comida de los ultimos 12 meses</h3>
		<canvas id="raciones-comida-mes-chart"></canvas>
	</div>

	<div class="raciones-comida-semana-chart" style="float: left; width:90%;">
		<h3 style="font-size: 1.1rem">Cantidad de raciones por comida de los ultimos 7 dias</h3>
		<canvas id="raciones-comida-semana-chart"></canvas>
	</div>

    {{ block.super }}

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.min.js"></script>
    <script>

		// funcion para generar un color random
		function randomColorGenerator() {
            return '#' + (Math.random().toString(16) + '0000000').slice(2, 8);
        };

		// GRAFICO RACIONES POR DIA LOS ULTIMOS 30 ---------------------------------------------------------------------------------------------------

		var ctx = document.getElementById("raciones-dia-chart");
		lineChartRacionesDia = new Chart(ctx, {
						type: "bar",
						data: {
							datasets: [{% for r in raciones_dia %}{
											label: "{{r.fecha}}",
											backgroundColor: randomColorGenerator(),
											data: [{{r.cantidad}}]
										},{% endfor %}]
						},
						options: {
						scales: {
						  yAxes: [{
							ticks: {
							  beginAtZero: true
							}
						  }],
						  xAxes: [{
							barPercentage: 0.8
						  }]
						},
						legend: {display: true},
						}
					});

		// GRAFICO RACIONES POR MES --------------------------------------------------------------------------------------------------------------------------------

		var ctx = document.getElementById("raciones-mes-chart");
		lineChartRacionesMes = new Chart(ctx, {
						type: "bar",
						data: {
							datasets: [{% for r in raciones_mes %}{
											label: "{{r.fecha__month}}"+"/"+"{{r.fecha__year}}",
											backgroundColor: randomColorGenerator(),
											data: [{{r.cantidad}}]
										},{% endfor %}]
						},
						options: {
						scales: {
						  yAxes: [{
							ticks: {
							  beginAtZero: true
							}
						  }],
						  xAxes: [{
							barPercentage: 0.8
						  }]
						},
						legend: {display: true},
						}
					});

		// GRAFICO RACIONES POR FUNCIONAMIENTO POR MES -------------------------------------------------------------------------------------------------------------

		let xValues_mes = []
		let desayuno = []
		let almuerzo = []
		let cena = []
		let merienda = []
		let olla_popular = []
		let d = 0
		let a = 0
		let c = 0
		let m = 0
		let o = 0
		let mes = ''
		let año = ''
		let i = 0

		{% for r in raciones_mes_funcionamiento %}
			while (i<1){
				mes = '{{r.fecha__month}}'
				año = '{{r.fecha__year}}'
				i = 1
			}
			if ('{{r.fecha__year}}' === año && '{{r.fecha__month}}' === mes){
				if ('{{r.funcionamiento}}' === 'desayuno'){
					d = '{{r.cantidad}}'
				} else if ('{{r.funcionamiento}}' === 'almuerzo'){
					a = '{{r.cantidad}}'
				} else if ('{{r.funcionamiento}}' === 'cena'){
					c = '{{r.cantidad}}'
				} else if ('{{r.funcionamiento}}' === 'merienda'){
					m = '{{r.cantidad}}'
				} else if ('{{r.funcionamiento}}' === 'olla_popular'){
					o = '{{r.cantidad}}'
				}
			}
			else{
				desayuno.push(d)
				cena.push(c)
				merienda.push(m)
				almuerzo.push(a)
				olla_popular.push(o)
				xValues_mes.push(mes+'/'+año)
				mes = '{{r.fecha__month}}'
				año = '{{r.fecha__year}}'
				if ('{{r.funcionamiento}}' === 'desayuno'){
					d = '{{r.cantidad}}'
					o = 0
					c = 0
					a = 0
					m = 0
				} else if ('{{r.funcionamiento}}' === 'almuerzo'){
					d = 0
					o = 0
					c = 0
					a = '{{r.cantidad}}'
					m = 0
				} else if ('{{r.funcionamiento}}' === 'cena'){
					d = 0
					o = 0
					c = '{{r.cantidad}}'
					a = 0
					m = 0
				} else if ('{{r.funcionamiento}}' === 'merienda'){
					d = 0
					o = 0
					c = 0
					a = 0
					m = '{{r.cantidad}}'
				} else if ('{{r.funcionamiento}}' === 'olla_popular'){
					d = 0
					o = '{{r.cantidad}}'
					c = 0
					a = 0
					m = 0
				}
			}
		{% endfor %}

		if (mes === ""){
			desayuno.push(d)
			cena.push(c)
			merienda.push(m)
			almuerzo.push(a)
			olla_popular.push(o)
			xValues_mes.push(mes+'/'+año)
		}

		var ctx = document.getElementById("raciones-funcionamiento-mes-chart");
		lineChartRacionesMesFuncionamiento = new Chart(ctx, {
						type: "bar",
						data: {
							labels: xValues_mes,
							datasets: [{
							  label: 'Desayuno',
							  data: desayuno,
							  backgroundColor: randomColorGenerator(),
							}, {
							  label: 'Almuerzo',
							  data: almuerzo,
							  backgroundColor: randomColorGenerator(),
							}, {
							  label: 'Merienda',
							  data: merienda,
							  backgroundColor: randomColorGenerator(),
							}, {
							  label: 'Cena',
							  data: cena,
							  backgroundColor: randomColorGenerator(),
							}, {
							  label: 'Olla popular',
							  data: olla_popular,
							  backgroundColor: randomColorGenerator(),
							}]
						},
						options: {
						scales: {
						  yAxes: [{
							ticks: {
							  beginAtZero: true
							}
						  }],
						  xAxes: [{
							barPercentage: 0.8
						  }]
						},
						legend: {display: true},
						}
					});

		// GRAFICO RACIONES POR FUNCIONAMIENTO POR DIA (una semana) ------------------------------------------------------------------------------------------------

		let xValues_semana = []
		desayuno = []
		almuerzo = []
		cena = []
		merienda = []
		olla_popular = []
		d = 0
		a = 0
		c = 0
		m = 0
		o = 0
		let fecha = ''
		i = 0

		{% for r in raciones_semana_funcionamiento %}
			while (i<1){
				fecha = '{{r.fecha}}'
				i = 1
			}
			if ('{{r.fecha}}' === fecha){
				if ('{{r.funcionamiento}}' === 'desayuno'){
					d = '{{r.cantidad}}'
				} else if ('{{r.funcionamiento}}' === 'almuerzo'){
					a = '{{r.cantidad}}'
				} else if ('{{r.funcionamiento}}' === 'cena'){
					c = '{{r.cantidad}}'
				} else if ('{{r.funcionamiento}}' === 'merienda'){
					m = '{{r.cantidad}}'
				} else if ('{{r.funcionamiento}}' === 'olla_popular'){
					o = '{{r.cantidad}}'
				}
			}
			else{
				desayuno.push(d)
				cena.push(c)
				merienda.push(m)
				almuerzo.push(a)
				olla_popular.push(o)
				xValues_semana.push(fecha)
				fecha = '{{r.fecha}}'
				if ('{{r.funcionamiento}}' === 'desayuno'){
					d = '{{r.cantidad}}'
					o = 0
					c = 0
					a = 0
					m = 0
				} else if ('{{r.funcionamiento}}' === 'almuerzo'){
					d = 0
					o = 0
					c = 0
					a = '{{r.cantidad}}'
					m = 0
				} else if ('{{r.funcionamiento}}' === 'cena'){
					d = 0
					o = 0
					c = '{{r.cantidad}}'
					a = 0
					m = 0
				} else if ('{{r.funcionamiento}}' === 'merienda'){
					d = 0
					o = 0
					c = 0
					a = 0
					m = '{{r.cantidad}}'
				} else if ('{{r.funcionamiento}}' === 'olla_popular'){
					d = 0
					o = '{{r.cantidad}}'
					c = 0
					a = 0
					m = 0
				}
			}
		{% endfor %}

		if (fecha !== ""){
			desayuno.push(d)
			cena.push(c)
			merienda.push(m)
			almuerzo.push(a)
			olla_popular.push(o)
			xValues_semana.push(fecha)
		}

		var ctx = document.getElementById("raciones-funcionamiento-semana-chart");
		lineChartRacionesSemanaFuncionamiento = new Chart(ctx, {
						type: "bar",
						data: {
							labels: xValues_semana,
							datasets: [{
							  label: 'Desayuno',
							  data: desayuno,
							  backgroundColor: randomColorGenerator(),
							}, {
							  label: 'Almuerzo',
							  data: almuerzo,
							  backgroundColor: randomColorGenerator(),
							}, {
							  label: 'Merienda',
							  data: merienda,
							  backgroundColor: randomColorGenerator(),
							}, {
							  label: 'Cena',
							  data: cena,
							  backgroundColor: randomColorGenerator(),
							}, {
							  label: 'Olla popular',
							  data: olla_popular,
							  backgroundColor: randomColorGenerator(),
							}]
						},
						options: {
						scales: {
						  yAxes: [{
							ticks: {
							  beginAtZero: true
							}
						  }],
						  xAxes: [{
							barPercentage: 0.8
						  }]
						},
						legend: {display: true},
						}
					});

		// GRAFICO RACIONES POR RANGO ETARIO POR MES -------------------------------------------------------------------------------------------------------------

		let rango_1 = []
		let rango_2 = []
		let rango_3 = []
		let rango_4 = []
		xValues_mes = []

		{% for r in raciones_mes_rango_etario %}
			rango_1.push('{{r.cantidad_rango_1}}')
			rango_2.push('{{r.cantidad_rango_2}}')
			rango_3.push('{{r.cantidad_rango_3}}')
			rango_4.push('{{r.cantidad_rango_4}}')
			xValues_mes.push('{{r.fecha__month}}'+'/'+'{{r.fecha__year}}')
		{% endfor %}

		var ctx = document.getElementById("raciones-rango-mes-chart");
		lineChartRangoMes = new Chart(ctx, {
						type: "bar",
						data: {
							labels: xValues_mes,
							datasets: [{
							  label: '1 a 3',
							  data: rango_1,
							  backgroundColor: randomColorGenerator(),
							}, {
							  label: '4 a 6',
							  data: rango_2,
							  backgroundColor: randomColorGenerator(),
							}, {
							  label: '7 a 9',
							  data: rango_3,
							  backgroundColor: randomColorGenerator(),
							}, {
							  label: 'mas de 10',
							  data: rango_4,
							  backgroundColor: randomColorGenerator(),
							}]
						},
						options: {
						scales: {
						  yAxes: [{
							ticks: {
							  beginAtZero: true
							}
						  }],
						  xAxes: [{
							barPercentage: 0.8
						  }]
						},
						legend: {display: true},
						}
					});

		// GRAFICO RACIONES POR RANGO ETARIO POR DIA (una semana) ------------------------------------------------------------------------------------------------

		rango_1 = []
		rango_2 = []
		rango_3 = []
		rango_4 = []
		xValues_semana = []

		{% for r in raciones_semana_rango_etario %}
			rango_1.push('{{r.cantidad_rango_1}}')
			rango_2.push('{{r.cantidad_rango_2}}')
			rango_3.push('{{r.cantidad_rango_3}}')
			rango_4.push('{{r.cantidad_rango_4}}')
			xValues_semana.push('{{r.fecha}}')
		{% endfor %}

		ctx = document.getElementById("raciones-rango-semana-chart");
		lineChartRangoSemanaFuncionamiento = new Chart(ctx, {
						type: "bar",
						data: {
							labels: xValues_semana,
							datasets: [{
							  label: '1 a 3',
							  data: rango_1,
							  backgroundColor: randomColorGenerator(),
							}, {
							  label: '4 a 6',
							  data: rango_2,
							  backgroundColor: randomColorGenerator(),
							}, {
							  label: '7 a 9',
							  data: rango_3,
							  backgroundColor: randomColorGenerator(),
							}, {
							  label: 'mas de 10',
							  data: rango_4,
							  backgroundColor: randomColorGenerator(),
							}]
						},
						options: {
						scales: {
						  yAxes: [{
							ticks: {
							  beginAtZero: true
							}
						  }],
						  xAxes: [{
							barPercentage: 0.8
						  }]
						},
						legend: {display: true},
						}
					});

		// GRAFICO DE RACIONES POR COMIDA POR MES ------------------------------------------------------------------------------------------------------------------

		let lista_fechas = []
		{% for f in fechas_mes %}
			lista_fechas.push('{{f}}')
		{% endfor %}

		i = 0
		m = []
		let comida_mes = []
		let comida = ''

		{% for r in raciones_comida_mes %}
			while (i<1){
				comida = '{{r.comida__nombre}}'
				i = 1
			}
			if ('{{r.comida__nombre}}' === comida){
				m.push('{{r.cantidad}}')
			}
			else {
				comida_mes.push({
					'label': comida,
					'data': m,
					'backgroundColor': randomColorGenerator(),
				})
				comida = '{{r.comida__nombre}}'
				m = []
				m.push('{{r.cantidad}}')
			}
		{% endfor %}

		if (comida !== "") {
			comida_mes.push({
						'label': comida,
						'data': m,
						'backgroundColor': randomColorGenerator(),
					})
		}

		var ctx = document.getElementById("raciones-comida-mes-chart");
		lineChartMesComida = new Chart(ctx, {
						type: "bar",
						data: {
							labels: lista_fechas,
							datasets: comida_mes
						},
						options: {
						scales: {
						  yAxes: [{
							ticks: {
							  beginAtZero: true
							}
						  }],
						  xAxes: [{
							barPercentage: 0.8
						  }]
						},
						legend: {display: true},
						}
					});

		// GRAFICO DE RACIONES POR COMIDA POR DIA (una semana) -----------------------------------------------------------------------------------------------------

		lista_fechas = []
		{% for f in fechas_semana %}
			lista_fechas.push('{{f}}')
		{% endfor %}

		i = 0
		m = []
		let comida_semana = []
		comida = ""

		{% for r in raciones_comida_semana %}
			while (i<1){
				comida = '{{r.comida__nombre}}'
				i = 1
			}
			if ('{{r.comida__nombre}}' === comida){
				m.push('{{r.cantidad}}')
			}
			else {
				comida_semana.push({
					'label': comida,
					'data': m,
					'backgroundColor': randomColorGenerator(),
				})
				comida = '{{r.comida__nombre}}'
				m = []
				m.push('{{r.cantidad}}')
			}
		{% endfor %}

		if (comida !== "") {
			comida_semana.push({
						'label': comida,
						'data': m,
						'backgroundColor': randomColorGenerator(),
					})
		}

		var ctx = document.getElementById("raciones-comida-semana-chart");
		lineChartSemanaComida = new Chart(ctx, {
						type: "bar",
						data: {
							labels: lista_fechas,
							datasets: comida_semana
						},
						options: {
						scales: {
						  yAxes: [{
							ticks: {
							  beginAtZero: true
							}
						  }],
						  xAxes: [{
							barPercentage: 0.8
						  }]
						},
						legend: {display: true},
						}
					});

    </script>
{% endblock %}
